---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Contactar', href: 'mailto:andersonsinaluisa@gmail.com', icon: 'tabler:message-circle' }}
    callToAction2={{ text: 'Ver más', href: '#features' }}
    image={{ src: import('~/assets/images/anderson.jpg'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Anderson Sinaluisa,
      <br />
    </Fragment>
    <Fragment slot="title">
      Desarrollador de software
      <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline"> desarrollo web</span>
     
      y aplicaciones móviles <br/>
      Con +2 años de experiencia
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Información"
    title="¿Quien es Anderson Sinaluisa?"
    subtitle={`Ecuatoriano, 22 años. Desarrollador de software, apasionado por la tecnología y la programación.
    Me gusta aprender cosas nuevas y me gusta mucho el trabajo en equipo. Me gusta mucho el desarrollo de software en general, pero me especializo en el desarrollo web y móvil.
    en este sitio web encontrarás información detallada sobre mis habilidades, experiencia laboral y proyectos en los que he trabajado. Espero que al navegar por mi sitio web puedas conocer más acerca de mi trabajo y cómo puedo ayudarte a llevar a cabo tus proyectos.`}
    titleItem="Habilidades"
    items={[
      [
        {
          title: 'Frontend',
          description: '',
          icon: 'gg:browser',
        },
        {
          title: 'HTML',
          description: 'HTML5',
          icon: 'akar-icons:html-fill',
        },
        {
          title: 'CSS',
          description: 'CSS3',
          icon: 'akar-icons:css-fill',
        },
        {
          title: 'JavaScript',
          description: 'JavaScript',
          icon: 'akar-icons:javascript-fill',
        },
        {
          title: 'React',
          description: 'React js',
          icon: 'logos:react',
        },
        {
          title: 'Angular',
          description: 'Angular',
          icon: 'logos:angular-icon',
        },
      ],
      [
        {
          title: 'Backend',
          description: '',
          icon: 'mdi:server',
        },
        {
          title: 'Node js',
          description: 'Express js',
          icon: 'logos:nodejs-icon',
        },

        {
          title: 'PHP',
          description: 'Laravel',
          icon: 'logos:php',
        },
        {
          title: 'Python',
          description: 'Django, Flask',
          icon: 'logos:python',
        },
        {
          title: 'Java',
          description: 'Spring Boot',
          icon: 'logos:java',
        },
      ],
      [
        {
          title: 'Base de datos',
          description: '',
          icon: 'mdi:database',
        },
        {
          title: 'MySQL',
          description: 'MySQL',
          icon: 'logos:mysql',
        },
        {
          title: 'MongoDB',
          description: 'MongoDB',
          icon: 'logos:mongodb',
        },
        {
          title: 'PostgreSQL',
          description: 'PostgreSQL',
          icon: 'logos:postgresql',
        },
        {
          title: 'Firebase',
          description: 'Firebase',
          icon: 'logos:firebase',
        },
      ],
      [
        {
          title: 'Mobile',
          description: '',
          icon: 'mdi:cellphone',
        },
        {
          title: 'Android',
          description: 'Java',
          icon: 'logos:android-icon',
        },
        {
          title: 'Ionic',
          description: 'Ionic',
          icon: 'logos:ionic',
        },
        {
          title: 'React Native',
          description: 'React Native',
          icon: 'logos:react',
        },
        {
          title: 'Flutter',
          description: 'Flutter',
          icon: 'logos:flutter',
        },
      ],
      [
        {
          title: 'Otros',
          description: '',
          icon: 'mdi:code-tags',
        },
        {
          title: 'Git',
          description: 'Git',
          icon: 'logos:git-icon',
        },
        {
          title: 'GitHub',
          description: 'GitHub',
          icon: 'logos:github-icon',
        },
        {
          title: 'GitLab',
          description: 'GitLab',
          icon: 'logos:gitlab',
        },
        {
          title: 'Docker',
          description: 'Docker',
          icon: 'logos:docker-icon',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight=""
    title="Proyectos"
    subtitle="Aquí encontrarás algunos de los proyectos en los que he trabajado como programador Fullstack. Desde aplicaciones web hasta móviles, estos proyectos representan mi experiencia y habilidades en el campo del desarrollo web. Echa un vistazo a algunos de ellos y siéntete libre de contactarme si tienes alguna pregunta o si te gustaría discutir cómo puedo ayudarte a hacer realidad tu próximo proyecto."
    items={[
      /*Detecta el plagio en documentos: La característica principal de WordMatch es que detecta plagio en documentos. Al permitir a los usuarios comparar sus documentos con otros textos, WordMatch puede detectar cualquier similitud y mostrar el porcentaje de plagio.

Fácil de usar: Según la descripción que me diste, WordMatch parece ser fácil de usar. Al permitir a los usuarios subir sus documentos y realizar una comparación simple, es una herramienta que cualquier persona puede usar sin dificultad.

Proporciona un informe detallado: Además de detectar el plagio, WordMatch también proporciona un informe detallado de los resultados. Esto significa que los usuarios pueden ver exactamente qué partes de su documento se consideran plagio y, por lo tanto, hacer las correcciones necesarias para evitar problemas de plagio en el futuro.*/
      {
        title: 'Detecta el plagio en documentos',
        description:
          'La característica principal de WordMatch es que detecta plagio en documentos. Al permitir a los usuarios comparar sus documentos con otros textos, WordMatch puede detectar cualquier similitud y mostrar el porcentaje de plagio.',
      },
      {
        title: 'Fácil de usar',
        description:
          'WordMatch parece ser fácil de usar. Al permitir a los usuarios subir sus documentos y realizar una comparación simple, es una herramienta que cualquier persona puede usar sin dificultad.',
      },
      {
        title: 'Proporciona un informe detallado',
        description:
          'Además de detectar el plagio, WordMatch también proporciona un informe detallado de los resultados. Esto significa que los usuarios pueden ver exactamente qué partes de su documento se consideran plagio y, por lo tanto, hacer las correcciones necesarias para evitar problemas de plagio en el futuro.',
      },
    ]}
    image={[
      {
      src: import('~/assets/images/logo_wordmatch.png'),
      alt: 'Colorful Image',
      
      },
      {
        src: import('~/assets/images/wordmatch.png'),
        alt: 'Colorful Image',
      }
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">WordMatch</h3>
      ¡WordMatch está aquí para ayudarte! Con nuestra aplicación web, podrás subir tus documentos y compararlos con otros
      textos para detectar cualquier porcentaje de plagio. Nuestro proceso de comparación es fácil de usar y preciso, y te
      proporcionará un informe detallado de los resultados. ¡No te arriesgues a ser acusado de plagio! Utiliza WordMatch
      para asegurarte de que tu trabajo es original y único. ¡Prueba WordMatch hoy mismo!
    </Fragment>

    <Fragment slot="actions">
    
      <div class="flex flex-row">
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-white">
              <Icon name="logos:javascript" class="w-6 h-6 text-white icon-light" />
            </div>
          </div>
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-white">
              <Icon name="logos:react" class="w-6 h-6 text-white icon-light" />
            </div>
          </div>
          
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-white">
              <Icon name="logos:python" class="w-6 h-6 text-white icon-light" />
            </div>
          </div>
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-secondary dark:bg-white">
              <Icon name="logos:django" class="w-6 h-6 text-white icon-light" />
            </div>
          </div>
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-white">
              <Icon name="logos:postgresql" class="w-6 h-6 text-white icon-light" />
            </div>
          </div>
          
        </div>
      
        
  
      </div>
      
      <div class="flex flex-row">
        <a href="https://github.com/andersonSinaluisa/SAP" target="_blank" class="btn btn-primary sm:mb-0"> Visitar</a>
      </div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    
    
    title={""}
    subtitle={``}
    items={[
      {
        title: 'Accesibilidad: ',
        description:'La plataforma te permitirá acceder a tus archivos desde cualquier lugar y en cualquier momento, siempre y cuando tengas conexión a internet. Ya no tendrás que preocuparte por tener tus archivos en distintos dispositivos o por perderlos.'
      },
      {
        title: 'Organización:',
        description:' La aplicación te permitirá organizar tus archivos en carpetas personalizadas, lo que facilitará su gestión y búsqueda. Podrás crear tantas carpetas como necesites y mover tus archivos entre ellas de manera sencilla.'
      },
      {
        title: 'Seguridad:',
        description:' La seguridad de tus archivos es una de nuestras principales preocupaciones. La aplicación cuenta con medidas de seguridad avanzadas, como encriptación de datos, para asegurar que tus archivos estén protegidos.'
      },
     
    ]}
    image={[

      {
        
      src: import('~/assets/images/files_reader.png'),
      alt: 'Vintage Image',
      },
      {
        src: import('~/assets/images/file-system.png'),
        alt: 'Colorful Image',
      }
    ]}
  >

  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">FilesReader</h3>
    aplicación web que desarrollé para gestionar mis archivos personales. Con ella, podrás tener un control total de todos tus archivos, desde fotos y videos hasta documentos importantes.

    La plataforma te permitirá subir tus archivos, organizarlos en carpetas y acceder a ellos en cualquier momento y desde cualquier lugar. Además, la seguridad es una de las principales preocupaciones, por lo que puedes estar seguro de que tus archivos estarán protegidos.
    
    Esta herramienta me ha sido muy útil en mi día a día, y espero que también pueda serlo para ti. Si te interesa probarla, no dudes en contactarme para que pueda brindarte más información.
  </Fragment>

  <Fragment slot="actions">
    
    <div class="flex flex-row sm:flex-col">
      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-white">
            <Icon name="logos:typescript-icon" class="w-6 h-6 text-white icon-light" />
          </div>
        </div>
        <div class="mb-4 mr-4">
          <div class="flex items-center justify-center w-12 h-12 rounded-full bg-secondary dark:bg-white">
            <Icon name="logos:angular-icon" class="w-6 h-6 text-white icon-light" />
          </div>
        </div>
      
        <div class="mb-4 mr-4">
          <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-white">
            <Icon name="logos:java" class="w-6 h-6 text-white icon-light" />
          </div>
        </div>
        <div class="mb-4 mr-4">
          <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-white">
            <Icon name="logos:spring-icon" class="w-6 h-6 text-white icon-light" />
          </div>
        </div>
        
        <div class="mb-4 mr-4">
          <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-white">
            <Icon name="logos:mysql" class="w-6 h-6 text-white icon-light" />
          </div>
        </div>
        
        
      </div>
    
      

    </div>
    <div class="flex flex-row ">
      <a href="https://github.com/andersonSinaluisa/filesreader" target="_blank" class="btn btn-primary sm:mb-0"> Visitar</a>
    </div>
  </Fragment>
  </Content>

  <!-- boton de ver mas en github -->

  <div class="flex flex-row justify-center">
    <a href="https://github.com/andersonSinaluisa"
      target="_blank"
      class="btn btn-primary sm:mb-0">
      Ver más
      <Icon name="logos:github-icon" class="w-6 h-6 text-white icon-light" />
      
    </a>
  </div>


  <!-- Steps Widget ****************** -->
  
  <Steps
    title="¿Cómo creo mis proyectos: mi proceso paso a paso"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Definir la idea del proyecto</span>',
        description:
          'Identifica claramente el objetivo que quieres lograr con tu proyecto de software y cómo este puede ayudar a resolver un problema o necesidad específica.',
        icon: 'carbon:idea',
      },
      {
        title: 'Step 2: <span class="font-medium">Establece los requisitos del proyecto</em>',
        description:
          'Una vez definida la idea, establece los requisitos necesarios para alcanzar el objetivo del proyecto. Considera aspectos como funcionalidad, diseño, seguridad, tecnologías necesarias, entre otros.',
        icon: 'codicon:checklist',
      },
      {
        title: 'Step 3: <span class="font-medium">Diseña la arquitectura del software</span>',
        description:
          'Elabora una estructura clara del software, definiendo la relación entre los diferentes componentes y cómo interactúan entre sí.',
        icon: 'ic:baseline-layers',
      },
      {
        title: 'Step 4: <span class="font-medium">Selecciona las herramientas y tecnologías</span>',
        description:' Selecciona las herramientas y tecnologías necesarias para el desarrollo del proyecto, de acuerdo con los requisitos establecidos en el paso 2.',
        icon: 'tabler:circle-check',
      },
      {
        title: 'Happy Coding! <span class="font-medium">:)</span>',
        icon: 'carbon:code',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->


  <Steps
    title="Experiencia en el desarrollo de software"

    items={[
      {
        title: 'PROGRAMADOR WEB (freelance)',
        description:
          `Fundación de ayuda por internet | agosto 2020 - diciembre 2020 <br/>
          <ul class="list-disc list-inside"> 
            <li>Crear modelado Base de datos</li>
            <li>implementar arquitectura MVC en el backend</li>
            <li>Documentación del codigo</li>
          </ul>`,
        icon: 'tabler:world',
      },
      {
        title: 'PROGRAMADOR SEMI-SENIOR (relación laboral)',
        description:
          `SIAPE S.A | febrero 2021 – noviembre 2022 <br/>
          <ul class="list-disc list-inside"> 
            <li>Desarrollo en backend (python)</li>
            <li>Desarrollo frontend (React js)</li>
            <li>Desarrollo plugin wordpress (PHP)</li>
            <li>Documentación del código</li>
          `,
        icon: 'ic:round-code',
      },
      {
        title: 'PROGRAMADOR ANDROID (freelance)',
        description:
          `Pharmacy & Nutrition | junio 2021 - septiembre 2022 <br/>
          <ul class="list-disc list-inside"> 
            <li>Desarrollo de Aplicación Móvil</li>
            <li>Implementación de arquitectura MVP (modelo, vista, presentador)</li>
            <li>Documentación del código</li>
          </ul>`,
        icon: 'tabler:brand-android',
      },
      {
        title: 'PROGRAMADOR BACKEND (freelance)',
        description:`6 Sigma Group | noviembre 2022 - abril 2023 <br/> 
        <ul class="list-disc list-inside"> 
          <li>Desarrollo back-end (php)</li>
          <li>Pruebas unitarias</li>
          <li>Documentación del código</li>
        </ul>
        `,
        icon: 'tabler:api',
      }
    ]}
    
  />
  <Features2
    title="Certificaciones y cursos"
    subtitle=""
    highlight=""
    items={[
      {
        title: 'Curso de Java: Backend con Spring Boot',
        description:
          '<span>Platzi</span> <br/> <a href="https://platzi.com/p/asinaluisa/curso/2317-spring-boot/diploma/detalle/" target="_blank"> Ver certificado</a>',
        icon: 'logos:java',
      },
      {
        title: ' Curso de Desarrollo en Laravel con Test Driven Development',
        description:
          '<span>Platzi</span> <br/><a href="https://platzi.com/p/asinaluisa/curso/2187-laravel-tdd/diploma/detalle/" target="_blank"> Ver certificado</a>',
        icon: 'logos:laravel',
      },
      {
        title: 'Curso de Introducción al Pentesting',
        description:
          '<span>Platzi</span> <br/><a href="https://platzi.com/p/asinaluisa/curso/2684-intro-pentesting/diploma/detalle/" target="_blank"> Ver certificado</a>',
        icon: 'mdi:security',
      },
      {
        title: 'Curso de Flutter',
        description:
          '<span>Platzi</span> <br/><a href="https://platzi.com/p/asinaluisa/curso/1386-flutter/diploma/detalle/" target="_blank"> Ver certificado</a>',
        icon: 'logos:flutter',
      },
      {
        title: 'Fundamentos de .NET',
        description:
          '<span>Platzi</span> <br/><a href="https://platzi.com/p/asinaluisa/curso/2883-fundamentos-net/diploma/detalle/" target="_blank"> Ver certificado</a>',
        icon: 'simple-icons:dot-net',
      },
     
      {
        title: ' Curso de Introducción a C# con .NET 3.1',
        description:
          '<span>Platzi</span> <br/><a href="https://platzi.com/p/asinaluisa/curso/2198-csharp-introduccion/diploma/detalle/" target="_blank"> Ver certificado</a>',
        icon: 'simple-icons:dot-net',
      },
      //
      {
        title: 'Curso de Maquetación con Angular CDK y Tailwind CSS',
        description:
          '<span>Platzi</span> <br/><a href="https://platzi.com/p/asinaluisa/curso/4459-angular-tailwind/diploma/detalle/" target="_blank"> Ver certificado</a>',
        icon: 'mdi:angular',
      },

    ]}
  />

  <!-- HighlightedPosts Widget ******* -->



  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Preguntas frecuentes sobre mi trabajo"
    highlight="FAQs"
    items={[
      [
        {
          question: '¿Cómo puedo contactarte para solicitar tus servicios de desarrollo de software?',
          answer:
            'Puedes contactarme a través del formulario de contacto en mi sitio web o enviándome un correo electrónico a la dirección que aparece en mi perfil de contacto.',
        },
        {
          question: '¿Cuál es tu experiencia previa en el desarrollo de software?',
          answer:
            "Tengo una experiencia de más de 2 años en el desarrollo de software, durante los cuales he trabajado en diversos proyectos de diferentes tamaños y complejidades.",
        },
        {
          question: "¿Puedes darme ejemplos de proyectos que hayas creado en el pasado?",
          answer:
            "Claro que sí. Algunos de los proyectos que he creado en el pasado incluyen un sistema de gestion academica, una aplicación de gestión de inventario, una aplicación de gestión de citas médicas, aplicaciòn para denuncias anónimas, cotizacion de joyas, planificacion de visitas, entre otros.",
        },
      ],
      [
        {
          question: "¿Cuál es tu proceso de trabajo para el desarrollo de software?",
          answer:
            "Mi proceso de trabajo comienza por entender las necesidades y objetivos del cliente y luego crear un plan de proyecto detallado. Durante el proceso de desarrollo, mantengo una comunicación constante con el cliente para asegurarme de que el proyecto se está desarrollando de acuerdo con sus expectativas y necesidades.",
        },
        {
          question: '¿En qué lenguajes de programación y tecnologías estás especializado?',
          answer:
            "Estoy especializado en lenguajes de programación como Python, JavaScript, PHP y tecnologías como Django, Flask, React, Angular, entre otras.",
        },
        {
          question: '¿Cómo garantizas la calidad del software que creas?',
          answer:
            "Para garantizar la calidad del software que creo, utilizo herramientas de prueba y depuración de código, y pruebas de usuario para asegurarme de que el software cumpla con los requisitos y objetivos del cliente.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->



  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Contáctame',
      href: 'mailto:andersonsinaluisa@gmail.com',
      icon: 'tabler:mail',
    }}
  >
    <Fragment slot="title">
      Contáctame<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">


      </span>
    </Fragment>

    <Fragment slot="subtitle">
      Creemos juntos tu proyecto de software

    </Fragment>
  </CallToAction>
</Layout>
